<% flash.each do |key, message| %>
  <% case key %>
  <% when 'notice' %>
    <div class="bg-green-100 text-green-800 p-3 rounded mb-2">
      <%= message %>
    </div>
  <% when 'alert', 'error' %>
    <div class="bg-red-100 text-red-800 p-3 rounded mb-2">
      <%= message %>
    </div>
  <% end %>
<% end %>
