<h2 class="text-2xl font-bold mb-6 text-center">みんなの公開された秘密</h2>

<p class="text-center text-sm text-gray-600  my-2">
  タスクを未達成にしてしまったときに公開された「秘密」の一覧です。
</p>

<% if @secret_posts.any? %>
  <div class="space-y-4">
    <% @secret_posts.each do |secret| %>
      <div class="bg-gray-50 rounded-xl shadow p-4 mx-10">
        <div class="text-xs text-gray-500">
            タスクの実行予定だった日時：
            <%= l(secret.task.due_at, format: :long) %>
        </div>

        <div class=" text-sm text-gray-800">
          <%= secret.task.question_template.body  if secret.task.question_template&.body.present?%>
          <br>
          <%= secret.content %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="bg-white rounded-xl shadow p-6 text-center text-gray-500">
    まだ公開された秘密はありません。
  </div>
<% end %>

